[submodule "deoplete"]
	path = bundle/deoplete.vim
	url = https://github.com/Shougo/deoplete.nvim.git

[submodule "emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git

[submodule "gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git

[submodule "vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git

[submodule "vim-javascript"]
    path = bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript.git

[submodule "vim-sneak"]
	path = bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git

[submodule "vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git

[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git

[submodule "fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.git

[submodule "fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
